.heading {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

.heading1 {
    font-family: 'Merriweather Sans', sans-serif;
    color: rgba(58, 78, 143, 0.705);
    padding: 5px;
}

.text_para {
    font-family: 'Poppins', sans-serif;
}

.btn1 {
    border: none;
    background-color: rgb(133, 135, 255);
    color: white;
    padding: 1% 5% 1% 5%;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

textarea {
    font-family: 'Poppins', sans-serif;
}

input {
    font-family: 'Poppins', sans-serif;
}

.btn2 {
    font-weight: bold;
    border-color: rgb(133, 135, 255);
    border-width: 1px;
    background-color: white;
    color: rgb(133, 135, 255);
    padding: 1% 5% 1% 5%;
    border-radius: 5px;
    cursor: pointer;
} 

.flex2 {
    display: flex;
}

.input1 {
    padding: 1% 3% 1% 3%;
    margin: 2px;
    width: 30%;
    border-color: rgb(133, 135, 255);
    border-width: 1px;
    border-radius: 5px;
}

.input2 {
    padding: 2% 4% 2% 4%;
    margin: 2px;
    width: 30%;
    border-color: rgb(133, 135, 255);
    border-width: 1px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.flex1 {
    display: flex;
}

.flex3 {
    display: flex;
}

.links {
    padding-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    color: black;
    background-color: white;
}

footer {
    text-align: center;
    background-color: rgb(133, 135, 255);
    color: white;
    height: 50px;
}

label{
    font-size: 1rem;
}

nav {
    background-color: white;
    margin: 0%;
    padding: 0%;
}
.icons {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}
form {
    margin: 0 auto;
    padding: 1em;
    /* border: 1px solid #CCC; */
    border-radius: 1em;
    font-size: larger;
}

.userDetails label {
    display: inline-block;
    width: 200px;
    text-align: right;
}

.idea label {
    display: inline-block;
    width: 200px;
    text-align: right;
}

/* table css */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c2c3ff;
}

header{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border: none;
    border-radius: 0em;
    font-size: larger;
}
.content {
    display: flex;
    justify-content: center;
}

.content2 {
    text-align: center;
}
/* form{
background: rgb(210, 215, 221);
} */

.btn {
    margin-top: 20px;
    margin-left: 13%;
    margin-right: 10%;
    background: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px grey;
}

.topnav {
    overflow: hidden;
    background-color: white;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    color: rgb(133, 135, 255);
}

.topnav .icon {
    display: none;
}

/* responsive navbar */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .icons {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* about us card animation */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);     
}

.flex {
    display:flex;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #8587FE;
    color: black;
}

.flip-card-back {
    background-color: #8587FE;
    color: white;
    transform: rotateY(180deg);
}

/* responsive flexbox */

@media (max-width:600px) {
    .flex {
        display:block;
    }
}

/* responsive flex */
@media (max-width: 1000px) {
    .flex3 {
        display: block;
        justify-content: space-between;
    }
    .image-dp {
        display: none;
    }
}
@media (max-width: 600px) {
    .flex2 {
        display: block;
    }
}

/* responsive font sizes */
@media (max-width: 1900px) and (min-width: 1400px) {
    .heading1 {
        font-size: 2rem;
    }
    .text_para {
        font-size: 20px;
    }
    .heading {
        font-size: 22px;
    }
}

@media (max-width: 1399px) and (min-width: 720px) {
    .heading1 {
        font-size: 2rem;
    }
    .text_para {
        font-size: 16px;
    }
    .heading {
        font-size: 18px;
    }
}

@media (max-width: 719px) and (min-width: 400px) {
    .heading1 {
        font-size: 1rem;
    }
    .text_para {
        font-size: 14px;
    }
    .heading {
        font-size: 16px;
    }
}

@media (max-width: 399px) {
    .heading1 {
        font-size: 1rem;
    }
    .text_para {
        font-size: 12px;
    }
    .heading {
        font-size: 14px;
    }
}